* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.block {
    display: block;
}

.none {
    display: none;
}

@keyframes anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animati {
    animation-name: anim;
    animation-duration: 2s;
}

.slider__prev,
.slider__next,
.slider {
    display: inline;
}

.slider__prev,
.slider__next {
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    position: relative;
    user-select: none;
    width: auto;
    -webkit-user-select: none;
}

.slider__prev {
    z-index: 2;
}

.slider__prev:hover,
.slider__next:hover {
    background-color: rgb(52, 52, 52);
}

.slider__image--number {
    color: #ffffff;
    font-size: 18px;
    padding: 8px 12px;
    position: relative;
    top: 35px;
    z-index: 2;
}

.slider__image--title {
    color: #ffffff;
    font-size: 1.3rem;
    position: relative;
    bottom: 40px;
    z-index: 10;
}

button,
button:active,
button:visited {
    border: 0;
    background-color: #b4b4b4;
    border-radius: 99px;
}

.gray {
    background-color: #747475;
}