* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.block {
    display: block;
}

.none {
    display: none;
}

img {
    position: relative;
}

.slider__image {
    position: relative;
}

.anim {
    animation: animated_img 1s;
}

@keyframes animated_img {
    0% {
        left: 700px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

.slider__prev,
.slider__next,
.slider {
    display: inline;
}

.slider__prev,
.slider__next {
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    position: relative;
    transition: 0.6s ease;
    user-select: none;
    width: auto;
    -webkit-user-select: none;
}

.slider__prev {
    left: -50px;
    z-index: 2;
}

.slider__next {
    right: 50px;
    
}

.slider__prev:hover,
.slider__next:hover {
    background-color: rgb(52, 52, 52);
}

.slider__image--number {
    color: #ffffff;
    font-size: 18px;
    padding: 8px 12px;
    position: relative;
    top: 35px;
    left: -20rem;
    z-index: 2;
}

.slider__image--title {
    color: #ffffff;
    font-size: 2rem;
    position: relative;
    bottom: 50px;
    z-index: 10;
}

button,
button:active,
button:visited {
    border: 0;
    background-color: #b4b4b4;
    border-radius: 99px;
}

.gray {
    background-color: #747475;
}